.App {
  display: flex;
    margin: 0;
    padding: 0;
  text-align: center;
  justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
    min-height: 100vh;

}

*/ .qr-card {
  width: 320px;
  max-height: 497px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  background-color: white;
  box-shadow: 2px 2px 10px #979797;
}

.qr-card-imagecontainer {
  width: 288px;
  height: 288px;
  margin: 5%;
  background-color: #2C7DFA;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card-image {
  width: 160px;
  height: 160px;
}
.qr-card-content {
  width: 288px;
  height: 129px;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.headline {
  font: 700 22px Outfit, sans-serif;
  font-style: normal;
  line-height: normal;
  color: #1F314F;
  margin: 0;
}
.content {
  font: 400 15px Outfit, sans-serif;
  letter-spacing: 0.188px;
  color: #7D889E;
}

